@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4;
  }
  .hidden > li {
    @apply hover:scale-110 hover:ease-linear duration-75;
  }
  ul {
    @apply overflow-hidden;
  }
}

.spinner {
  background-color: #00000026;
  overflow-y: auto;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 1060;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
