.img-slider {
  transition: ease-in-out 180ms;
}
.img-slider:hover {
  transform: scale(1.3);
}
.fade {
  animation-name: fade;
  animation-duration: 1s;
}
  
@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}